[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "FastNoise"]
	path = FastNoise
	url = https://github.com/Markyparky56/FastNoise.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
